 {% include basePath('application/content/stuff.twig') %}

<h3>DEBUG</h3>

<p>url:{{AbsoluteUrl()}}  {{absoluteUrl()}}</p>
<p>system:{{detectMobile()}}</p>
<p>controller:{{controllerName}}</p>
<p>path:{{GetPath()}} {{getPath()}}</p>
<p>agent:{{userAgent}}</p>
