{{ doctype() }}
{#
/**
*
* Possible vars that can be used:
* fileabsoluteUrl() <- the absolute URL for the web page
* detectMobile() <- contains either "computer", "tablet" or "phone"
* controllerName() <- provides the absolute controllername (eg. Application\Controller\Index)
* getPath() <- current path (eg. / for index.html, /blog for tld.com/blog)
* zfcUserIdentity() <- if user is logged in
*/
#}


{% if 'computer' in detectMobile() %}
{% endif %}

<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}
    {{ headTitle('Sven Anders Robbestad') }}
    {% endblock %}

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon-precomposed" href="http://www.svenardo.com/apple-touch-icon.png">
    <link rel="icon" href="http://www.svenardo.com/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://www.svenardo.com/favicon.ico" type="image/x-icon">

    <meta name="keywords" content="chess, touch, arcade, real time">
    <meta name="description" content="Svenardo is a developer who enjoys working with HTML5, Javascript, PHP, Python, Objective C and related software and tech.">
    <meta property="og:image" content="http://www.svenardo.com/apple-touch-icon.png"/>
    <meta property="twitter:image" content="http://www.svenardo.com/apple-touch-icon.png"/>
    <meta property="og:title" content="Svenardo the developer" />
    <meta property="og:type" content="game" />
    <meta property="og:site_name" content="Svenardo.com" />
    <meta property="og:url" content="http://www.svenardo.com/games" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="http://www.svenardo.com/games" />
    <meta property="twitter:title" content="Svenardo the developer" />
    <link rel="image_src" type="image/png" href="http://www.svenardo.com/apple-touch-icon.png" />
     {#% do headMeta('viewport', 'width=device-width, initial-scale=1.0') %#}
    {{ headMeta() }}
    {% endblock %}

    {% block link %}
    {% do headLink().appendStylesheet(basePath('/min/?g=css')) %}
    {% do headLink().appendStylesheet(basePath('/min/?g=arcade')) %}
    <!-- icons -->
    {% do headLink({'rel': 'shortcut icon', 'href': '/images/favicon.ico'}) %}
    {% do headLink({'rel': 'shortcut icon', 'href': '/images/icons/favicon.ico'}) %}
    {% do headLink({'rel': 'apple-touch-icon', 'href': '/images/icons/ios-icon.png'}) %}
    <!-- Will be displayed in most browsers other than old IE versions -->
    {% do headLink({'rel': 'icon', 'href': '/images/icons/vector-social-media/32px/star.png'}) %}
    {{ headLink() }}
    {% endblock %}
</head>

<body onload="prettyPrint()" >

<div id="overlay"> </div>
<div id="splash_bg"></div>

<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="navbar-container">
   <!--
          <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
-->
          <a class="brand" href="{{ url('games') }}">Svenardo.com ARCADE</a> 

           <!--   
          <div class="nav-collapse collapse" style="height: 0px;">
            <ul class="nav">
                    <li 
                    {% if 'about' in getPath() %}
                    class="active"
                    {% endif %}
                    ><a href="{{ url('donate') }}">License</a></li>

                	<li 
                    {% if 'games' in getPath() %}
					class="active"
					{% endif %}
					><a href="{{ url('games') }}">Arcade</a></li>
                 
                    <li 
                    {% if 'blog' in getPath() %}
					class="active"
					{% endif %}
					><a href="{{ url('blog') }}">Blog</a></li>
					
                    <li 
                        {% if '/user/login' == getPath() %}
                        class="active"
                        {% endif %}
                        >
                    {% if(zfcUserIdentity().id>0)  %} 
                        <a href="/user">Welcome {{zfcUserIdentity().email}}</a></li>
                    {% else %}
                            <a href="/user">Login</a>
                {% endif %}
                </li>
                
                

					
            </ul>
          </div>
        -->
        </div>
      </div>
    </div>


	{{ content | raw }}


     
    </div>
	</div>    
	
	<!-- REQUIRED - all the javascripts  -->      
	<script src="{{ basePath('/min/?g=js') }}"></script>
	<script src="{{ basePath('/min/?g=jsarcade') }}"></script>
	<script src="/js/google-code-prettify/prettify.js"></script>
	<script src="{{ basePath('/js/google-code-prettify/lang-css.js') }}"></script>
	<script src="{{ basePath('/js/google-code-prettify/lang-sql.js') }}"></script>
	
	<script type="text/javascript">
	$(window).load(function() {
	    $('#slider').nivoSlider();
        checko();
	});
	
	

	$(window).resize(function() {
		rightbarControl($("#rightbarcontent").html());
	});

    function checko(){
        console.log( window.orientation );
          switch ( window.orientation ) {
            
            case 0:
            case 180:
             $("#overlay").css('zIndex', '-99999');
             
            break;
            
            case 90:
            //alert('landscape mode screen turned to the left'+document.width);
              $("#overlay").css('zIndex', '999999');
             
            break;
            
            case -90:
            //alert('landscape mode screen turned to the right'+document.width);
             // $(".container").css('-webkit-transform', 'scale(0.8,0.8)');
              //$("body").css('paddingTop', '20px');
              $("#overlay").css('zIndex', '999999');
             
              
        
            break;
            
            }
    }; 

	
	var wasPortrait = -1;
	var checkOrientation = function() {
	    var isPortrait = (window.innerHeight > window.innerWidth);
	    if( isPortrait === wasPortrait ) { return; // Nothing to do here }
	    wasPortrait = isPortrait;
		alert("switchd");
	    // Do your stuff...
	};
	};
	//window.addEventListener( 'orientationchange', checkOrientation, false );


	window.addEventListener('orientationchange', function(){
	     /* update layout per new orientation */
	     switch ( window.orientation ) {
			
			case 0:
            case 180:
			 $("#overlay").css('zIndex', '-99999');
             
			break;
			
			case 90:
			//alert('landscape mode screen turned to the left'+document.width);
			  $("#overlay").css('zIndex', '999999');
             
			break;
			
			case -90:
			//alert('landscape mode screen turned to the right'+document.width);
			 // $(".container").css('-webkit-transform', 'scale(0.8,0.8)');
              //$("body").css('paddingTop', '20px');
              $("#overlay").css('zIndex', '999999');
             
			  
		
			break;
			
			}

	});
	
	

	
	</script>

</body>
</html>