{{ doctype() }}
{#
/**
*
* Possible vars that can be used:
* fileabsoluteUrl() <- the absolute URL for the web page
* detectMobile() <- contains either "computer", "tablet" or "phone"
* controllerName() <- provides the absolute controllername (eg. Application\Controller\Index)
* getPath() <- current path (eg. / for index.html, /blog for tld.com/blog)
* zfcUserIdentity() <- if user is logged in
*/
#}


{% if 'computer' in detectMobile() %}
{% endif %}

<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}
    {{ headTitle('Sven Anders Robbestad') }}
    {% endblock %}

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {#% do headMeta('viewport', 'width=device-width, initial-scale=1.0') %#}
    {{ headMeta() }}
    {% endblock %}

    {% block link %}
    {% do headLink().appendStylesheet(basePath('/min/?g=css')) %}
    <!-- icons -->
    {% do headLink({'rel': 'shortcut icon', 'href': '/images/favicon.ico'}) %}
    {% do headLink({'rel': 'shortcut icon', 'href': '/images/icons/favicon.ico'}) %}
    {% do headLink({'rel': 'apple-touch-icon', 'href': '/images/icons/ios-icon.png'}) %}
    <!-- Will be displayed in most browsers other than old IE versions -->
    {% do headLink({'rel': 'icon', 'href': '/images/icons/vector-social-media/32px/star.png'}) %}
    {{ headLink() }}
    {% endblock %}
</head>

<body onload="prettyPrint()">

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url('home') }}">Svenardo</a>
              
          <div class="nav-collapse collapse" style="height: 0px;">
            <ul class="nav">
            		
            		<li 
                    {% if '/' == getPath() %}
					class="active"
					{% endif %}
					><a href="{{ url('home') }}">Home</a></li>

                	<li 
                    {% if 'about' in getPath() %}
					class="active"
					{% endif %}
					><a href="{{ url('about') }}">About</a></li>
                
                    <li 
                    {% if 'about' in getPath() %}
                    class="active"
                    {% endif %}
                    ><a href="{{ url('donate') }}">Donate</a></li>
                

                	<li 
                    {% if 'games' in getPath() %}
					class="active"
					{% endif %}
					><a href="{{ url('games') }}">Arcade</a></li>
                 
                    <li 
                    {% if 'blog' in getPath() %}
					class="active"
					{% endif %}
					><a href="{{ url('blog') }}">Blog</a></li>
					
                    <li 
                        {% if '/user/login' == getPath() %}
                        class="active"
                        {% endif %}
                        >
                    {% if(zfcUserIdentity().id>0)  %} 
                        <a href="/user">Welcome {{zfcUserIdentity().email}}</a></li>
                    {% else %}
                            <a href="/user">Login</a>
                {% endif %}
                </li>
                
                

					
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid">

        <div class="span12">
        {{ content | raw }}
		</div>
	
    
    </div>
    
     
        <div id="push">  
            <p class="muted credit"><center>&copy; Sven A Robbestad. All rights reserved.</center></p>
        </div>
    </div>
    
<!-- REQUIRED - all the javascripts  -->      
<script src="{{ basePath('/min/?g=js') }}"></script>
<script src="/js/google-code-prettify/prettify.js"></script>
<script src="{{ basePath('/js/google-code-prettify/lang-css.js') }}"></script>
<script src="{{ basePath('/js/google-code-prettify/lang-sql.js') }}"></script>
</body>
</html>