{{ doctype() }}
{#
/**
*
* Possible vars that can be used:
* fileabsoluteUrl <- the absolute URL for the web page
* detectMobile() <- contains either "computer", "tablet" or "phone"
* controllerName() <- provides the absolute controllername (eg. Application\Controller\Index)
* getPath() <- current path (eg. / for index.html, /blog for tld.com/blog)
*/

#}




{% if 'computer' in detectMobile() %}
{% endif %}

<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}
    {{ headTitle('Sven Anders Robbestad') }}
    {% endblock %}

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ headMeta() }}
    {% endblock %}

    {% block link %}
    <link href="{{ basePath('/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/css/prettify.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/css/code.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ basePath('/css/sh/shCore.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ basePath('/css/sh/shCoreEclipse.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ basePath('/css/style.css') }}" rel="stylesheet" type="text/css">
    
    <link rel="shortcut icon" href="/images/favicon.ico">
    {{ headLink() }}
    {% endblock %}
    
    <!-- Will be displayed in most browsers other than old IE versions -->
	<!-- <link rel="icon" type="image/png" href="images/icons/vector-social-media/32px/star.png" /> -->
	       
	<!-- commented, remove this line to use IE & iOS favicons            -->
	<link rel="shortcut icon" href="images/icons/favicon.ico" />
	<link rel="apple-touch-icon" href="images/icons/ios-icon.png" />            
	<!-- end of comment -->
	
	
    {% block headscript %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ basePath('/js/html5.js') }}"></script>
    <![endif]-->
  
    {% endblock %}
</head>

<body onload="prettyPrint()">

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url('home') }}">Sven A Robbestad</a>
              
          <div class="nav-collapse collapse" style="height: 0px;">
            <ul class="nav">
            		
            		<li 
                    {% if 'Index' in controllerName %}
					class="active"
					{% endif %}
					><a href="{{ url('home') }}">Home</a></li>
                
                	<li 
                    {% if 'About' in controllerName %}
					class="active"
					{% endif %}
					><a href="{{ url('about') }}">About</a></li>
                
                	<li 
                    {% if 'Games' in controllerName %}
					class="active"
					{% endif %}
					><a href="{{ url('home') }}">Games</a></li>
                
                    
                    <li 
                    {% if 'blog' in getPath() %}
					class="active"
					{% endif %}
					><a href="{{ url('blog') }}">Blog</a></li>
					
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid">
    <div class="span12">
        <header class="jumbotron subhead" id="overview">

<h1 class="lead">Electric dreams</h1>
        </header>    

      </div>
  
        <!--  

    <header class="jumbotron" id="overview" >
     <iframe src="logo/index.html" height="150" scrolling='no'  ></iframe>
   </header>
<header class="jumbotron subhead" id="overview">
  <div class="container">
     
      
    <!-- <div class="pull-right div-center"><img height="100" width="100" class="loader img-polaroid"></div> -->
  <!--
    <h1 class="lead">Electric sheep</h1>
    <p class="lead">A blog about coding.</p>
  </div>
</header>
    -->

    <!--<div id="animatedlogo" style="height:100px;width:400px"></div>-->    
    <div class="span12">
    	{{ content | raw }}
		
		{% block inlinescript %}
		{{ inlineScript() }}
		{% endblock %}

    	</div>
    <!--
    	<div class="span3 offset1">
    		
    		<hr>
<a href="http://www.amazon.co.uk/gp/product/1449381561/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=1634&creative=6738&creativeASIN=1449381561&linkCode=as2&tag=svenanderobb-21"><img border="0" src="http://ws.assoc-amazon.co.uk/widgets/q?_encoding=UTF8&ASIN=1449381561&Format=_SL110_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=svenanderobb-21" ></a><img src="http://www.assoc-amazon.co.uk/e/ir?t=svenanderobb-21&l=as2&o=2&a=1449381561" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    		<hr>

    		
    	</div>
    	-->
  
</div>
    
    
    
     
   <div id="push"></div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">&copy; Sven A Robbestad. All rights reserved.</p>
      </div>
    </div>
    
  

<!-- REQUIRED - jQuery library -->            
<!-- load jQuery from local file -->
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>            
<script type="text/javascript" src="/js/loader.js"></script>            
<!-- RASTERIZE.js -->
<!--<script type="text/javascript" src="/js/raster.js"></script>-->
            
<!-- REQUIRED - feature detection & script loader -->
<!--<script type="text/javascript" src="/js/modernizr-2.0.min.js"></script>-->


<!-- Syntax highlighter -->
<!-- Include required JS files -->
<script type="text/javascript" src="/js/XRegExp.js"></script> <!-- XRegExp is bundled with the final shCore.js during build -->
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushPhp.js"></script>

<!-- TWITTER BOOTSTRAP -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/google-code-prettify/prettify.js"></script>
   
   
<script src="{{ basePath('/js/google-code-prettify/lang-css.js') }}"></script>
<script src="{{ basePath('/js/google-code-prettify/lang-sql.js') }}"></script>
   
   
   <!--
 <script type="text/javascript" src="/js/widgets.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/bootstrap-affix.js"></script>-->
    <!-- <script src="/js/application.js"></script>-->
    

<!-- GOOGLE ANALYTICS -->
<!--
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-9624976-6']);
_gaq.push(['_setDomainName', 'robbestad.no']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
-->
<!-- GA DONE -->
<!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
<script type="text/javascript">
$(document).ready(function() {
SyntaxHighlighter.all();
$(".toolbar").css("visibility","hidden");

 $(".loader").funloader()

})
</script>

<!-- IMPORTANT FOR STYLISH CSS  -->
<script src="{{ basePath('/js/prefixfree.min.js"') }}></script>
<script>
StyleFix.register(function(css, raw) {
    if (PrefixFree.functions.indexOf('radial-gradient') > -1) {
        css = css.replace(/radial-gradient\(([a-z-\s]+\s+)?at ([^,]+)(?=,)/g, function($0, shape, center){
            return 'radial-gradient(' + center + (shape? ', ' + shape : '');
        });
    }
    
    return css;
});
</script>
   

</body>
</html>